$team-colors: (
	arizona-diamondbacks: (
		1: $color-arizona-diamondbacks-1,
		2: $color-arizona-diamondbacks-2,
		3: $color-arizona-diamondbacks-3,
		4: $color-arizona-diamondbacks-4,
		5: $color-arizona-diamondbacks-5
	),

	atlanta-braves: (
		1: $atlanta-braves-1,
		2: $atlanta-braves-2,
		3: atlanta-braves-3
	),

	baltimore-orioles: (
		1: $baltimore-orioles-1,
		2: $baltimore-orioles-2,
		3: $baltimore-orioles-3
	),

	boston-red-sox: (
		1: $boston-red-sox-1,
		2: $boston-red-sox-2,
		3: $boston-red-sox-3
	),

	chicago-cubs: (
		1: $chicago-cubs-1,
		2: $chicago-cubs-2,
		3: $chicago-cubs-3
	),

	chicago-white-sox: (
		1: $chicago-white-sox-1,
		2: $chicago-white-sox-2,
		3: $chicago-white-sox-3
	),

	cincinnati-reds: (
		1: $cincinnati-reds-1,
		2: $cincinnati-reds-2,
		3: $cincinnati-reds-3
	),

	cleveland-indians: (
		1: $cleveland-indians-1,
		2: $cleveland-indians-2,
		3: $cleveland-indians-3
	),

	colorado-rockies: (
		1: $colorado-rockies-1,
		2: $colorado-rockies-2,
		3: $colorado-rockies-3,
		4: $colorado-rockies-3
	),

	detroit-tigers: (
		1: $detroit-tigers-1,
		2: $detroit-tigers-2,
		3: $detroit-tigers-3
	),

	houston-astros: (
		1: $houston-astros-1,
		2: $houston-astros-2,
		3: $houston-astros-3
	),

	kansas-city-royals: (
		1: $kansas-city-royals-1,
		2: $kansas-city-royals-2,
		3: $kansas-city-royals-3
	),

	los-angeles-angels: (
		1: $los-angeles-angels-1,
		2: $los-angeles-angels-2,
		3: $los-angeles-angels-3
	),

	los-angeles-dodgers: (
		1: $los-angeles-dodgers-1,
		2: $los-angeles-dodgers-2
	),

	miami-marlins: (
		1: $miami-marlins-1,
		2: $miami-marlins-2,
		3: $miami-marlins-3,
		4: $miami-marlins-4,
		5: $miami-marlins-5,
		6: $miami-marlins-6
	),

	milwaukee-brewers: (
		1: $milwaukee-brewers-1,
		2: $milwaukee-brewers-2,
		3: $milwaukee-brewers-3
	),

	minnesota-twins: (
		1: $minnesota-twins-1,
		2: $minnesota-twins-2,
		3: $minnesota-twins-3,
		4: $minnesota-twins-3
	),

	new-york-mets: (
		1: $new-york-mets-1,
		2: $new-york-mets-2,
		3: $new-york-mets-3
	),

	new-york-yankees: (
		1: $new-york-yankees-1,
		2: $new-york-yankees-2,
		3: $new-york-yankees-3
	),

	oakland-athletics: (
		1: $oakland-athletics-1,
		2: $oakland-athletics-2,
		3: $oakland-athletics-3
	),
	philadelphia-phillies: (
		1: $philadelphia-phillies-1,
		2: $philadelphia-phillies-2,
		3: $philadelphia-phillies-3
	),

	pittsburgh-pirates: (
		1: $pittsburgh-pirates-1,
		2: $pittsburgh-pirates-2,
		3: $pittsburgh-pirates-3
	),

	san-diego-padres: (
		1: $san-diego-padres-1,
		2: $san-diego-padres-2,
		3: $san-diego-padres-3,
		4: $san-diego-padres-4,
		5: $san-diego-padres-5
	),

	san-francisco-giants: (
		1: $san-francisco-giants-1,
		2: $san-francisco-giants-2,
		3: $san-francisco-giants-3
	),

	seattle-mariners: (
		1: $seattle-mariners-1,
		2: $seattle-mariners-2,
		3: $seattle-mariners-3,
		4: $seattle-mariners-4
	),

	st-louis-cardinals: (
		1: $st-louis-cardinals-1,
		2: $st-louis-cardinals-2,
		3: $st-louis-cardinals-3
	),

	tampa-bay-rays: (
		1: $tampa-bay-rays-1,
		2: $tampa-bay-rays-2,
		3: $tampa-bay-rays-3,
		4: $tampa-bay-rays-4
	),

	texas-rangers: (
		1: $texas-rangers-1,
		2: $texas-rangers-2,
		3: $texas-rangers-3
	),

	toronto-blue-jays: (
		1: $toronto-blue-jays-1,
		2: $toronto-blue-jays-2,
		3: $toronto-blue-jays-3,
		4: $toronto-blue-jays-4
	),

	washington-nationals: (
		1: $washington-nationals-1,
		2: $washington-nationals-2,
		3: $washington-nationals-3
	)
);
