$team-colors: (
	arizona-diamondbacks: (
		1: #A71930,
		2: #DBCEAC,
		3: #09ADAD,
		4: #000000,
		5: #FFFFFF
	),

	atlanta-braves: (
		1: #01487E,
		2: #D60D39,
		3: #FFFFFF
	),

	baltimore-orioles: (
		1: #F4632A,
		2: #000000,
		3: #FFFFFF
	),

	boston-red-sox: (
		1: #C60C30,
		2: #002244,
		3: #FFFFFF
	),

	chicago-cubs: (
		1: #0E3386,
		2: #D12325,
		3: #FFFFFF
	),

	chicago-white-sox: (
		1: #000000,
		2: #FFFFFF,
		3: #DCDDDF
	),

	cincinnati-reds: (
		1: #C6011F,
		2: #FFFFFF,
		3: #000000
	),

	cleveland-indians: (
		1: #ED174C,
		2: #002B5C,
		3: #FFFFFF
	),

	colorado-rockies: (
		1: #333366,
		2: #000000,
		3: #CACDCD,
		4: #FFFFFF
	),

	detroit-tigers: (
		1: #10293F,
		2: #FFFFFF,
		3: #DE4406
	),

	houston-astros: (
		1: #072854,
		2: #FF7F00,
		3: #FFFFFF
	),

	kansas-city-royals: (
		1: #15317E,
		2: #FFFFFF,
		3: #74B4FA
	),

	los-angeles-angels: (
		1: #003262,
		2: #CE1141,
		3: #FFFFFF
	),

	los-angeles-dodgers: (
		1: #005596,
		2: #FFFFFF
	),

	miami-marlins: (
		1: #000000,
		2: #F46634,
		3: #FCDE04,
		4: #A4AAAC,
		5: #0482CC,
		6: #FFFFFF
	),

	milwaukee-brewers: (
		1: #012143,
		2: #C4953B,
		3: #FFFFFF
	),

	minnesota-twins: (
		1: #042462,
		2: #D31145,
		3: #CFAB7A,
		4: #FFFFFF
	),

	new-york-mets: (
		1: #004685,
		2: #F7742C,
		3: #FFFFFF
	),

	new-york-yankees: (
		1: #1C2841,
		2: #FFFFFF,
		3: #808080
	),

	oakland-athletics: (
		1: #00483A,
		2: #FFBE00,
		3: #FFFFFF
	),
	philadelphia-phillies: (
		1: #CA1F2C,
		2: #FFFFFF,
		3: #226AA9
	),

	pittsburgh-pirates: (
		1: #000000,
		2: #FFB40B,
		3: #FFFFFF
	),

	san-diego-padres: (
		1: #002D62,
		2: #FFFFFF,
		3: #FEC325,
		4: #7F411C,
		5: #A0AAB2
	),

	san-francisco-giants: (
		1: #000000,
		2: #FB5B1F,
		3: #FFFDD0
	),

	seattle-mariners: (
		1: #003166,
		2: #1C8B85,
		3: #C0C0C0,
		4: #FFFFFF
	),

	st-louis-cardinals: (
		1: #C41E3A,
		2: #0A2252,
		3: #FFFFFF
	),

	tampa-bay-rays: (
		1: #00285D,
		2: #79BDEE,
		3: #FFFFFF,
		4: #FFD700
	),

	texas-rangers: (
		1: #BD1021,
		2: #FFFFFF,
		3: #003279
	),

	toronto-blue-jays: (
		1: #003DA5,
		2: #041E42,
		3: #FFFFFF,
		4: #DA291C
	),

	washington-nationals: (
		1: #BA122B,
		2: #14225A,
		3: #FFFFFF
	)
);

@mixin all-team-colors ($affectChildren:false) {
	@each $team, $colors in $team-colors {
		@include team-colors ($team, $affectChildren);
	}
}


@mixin team-colors ($team-name, $affectChildren:false) {
	$teamColors: getTeamColors($team-name);
	@if $affectChildren {
		.#{$team-name} {
			@each $index, $color in $teamColors {
				&.color-#{$index} {
					background: $color;
				}
			}
		}
	} @else {
		&.#{$team-name} {
			@each $index, $color in $teamColors {
				&.color-#{$index} {
					background: $color;
				}
			}
		}
	}
}

@function getTeamColor($team-name, $index) {
	$teamColors: getTeamColors($team-name);
	@if not map-has-key($teamColors, ($index - 1)) {
		@warn "No team color found at index `#{$index}` for `#{$team-name}`.";
	}
	$color: map-get($teamColors, $index);
	@return $color;
}

@function getTeamColors($team-name) {
	@if not map-has-key($team-colors, $team-name) {
		@warn "No team colors found for `#{$team-name}`.";
	}
	@return map-get($team-colors, $team-name);
}
